/.idea/
/wp-admin/
/wp-content/*
!/wp-content/plugins/
!/wp-content/themes/
/wp-content/plugins/*
/wp-content/themes/*
#!/wp-content/plugins/deployer-plugin/
!/wp-content/themes/awps/
/wp-content/themes/awps/node_modules/
/wp-content/themes/awps/vendor/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/wp-config.php
/xmlrpc.php
/hosts.yml
.env
